.test-border {
    border: 1px solid red;
}

.custom-text-stroke {
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.main-text > div {
    overflow: hidden;
    position: relative;
    
}

.main-text > div > div {
    position: relative;
}